html {
    background-color: greenyellow;
}

.app {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.content {
    width: 90%;
    padding-left: 7.5%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 5%;
}